@{
    Layout = "_Layout"; // using layout
    ViewData["Title"] = "ForkScore - Home";
}
<div class="container text-center mt-4">
    <h1>Welcome to ForkScore!</h1>
    <p>Find and review the best restaurants in your area!</p>
    <a class="btn btn-primary mt-3" asp-controller="Restaurant" asp-action="SearchRestaurants">Find Restaurant</a>
</div>
